:host {
    max-height: 100vh;
}

@keyframes rotationAnimation {
    0% { 
        transform: rotate(45deg); 
    }
    50% { 
        transform: rotate(225deg); 
    }
    100% { 
        transform: rotate(405deg); 
    }
}

.loader-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    span {
        font-size: 18px;
        margin-top: 32px;
    }
}

.loader {
    position: relative;
    animation-name: rotationAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center;
    width: 120px;
    aspect-ratio: 1/1;
}
.dot {
    width: 33.3%;
    aspect-ratio: 1/1;
    background-color: blue;
    border-radius: 50%;
    position: absolute;

    &.one { left: 0; top: 0 }
    &.two { right: 0; top: 0 }
    &.three { left: 0; bottom: 0 }
    &.four { right: 0; bottom: 0 }
}
