<div style="width: 100%; display: flex; justify-content: center;">
  <div style="width: 300px">
    <p-dropdown styleClass="fullWidth" [options]="reports | async" optionLabel="name" [formControl]="selectControl"></p-dropdown>
  </div>
</div>
<div *ngIf="isLoading$ | async" class="loader-box">
  <div class="loader">
    <div class="dot one"></div>
    <div class="dot two"></div>
    <div class="dot three"></div>
    <div class="dot four"></div>
  </div>
  <span>Ładowanie danych</span>
</div>
<p-paginator
  [rows]="1"
  [totalRecords]="count$ | async"
  (onPageChange)="currentPage$.next($event.page)"
></p-paginator>
<p-chart type="line" [data]="data$ | async"></p-chart>
